<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.github.com/jucovschi/OCM"
			class = "com.github.jucovschi.ocm.OcmPackage"
			genModel = "model/generated/OCM.genmodel" />
	</extension>
</plugin>
